<div class="advertisement">
  <img src="https://preview.colorlib.com/theme/electro/img/xshop01.png.pagespeed.ic.YgJRjyP3IB.webp" alt="laptop">
  <div class="ad-content">
    <h1>Hot Deal This Week</h1>
    <p>New Collection up to 50% off</p>
    <button>Shop Now</button>
  </div>
  <img src="https://preview.colorlib.com/theme/electro/img/xshop03.png.pagespeed.ic.7lsQL1UJA9.webp" alt="headphones">
</div>