<div class="banner">
  <h1 class="banner-title">Electrode</h1>

  <div class="search-container">
    <select name="category" id="category">
      <option value="All">All Categories</option>
      <option value="Laptops">Laptops</option>
      <option value="Smartphones">Smartphones</option>
      <option value="Cameras">Cameras</option>
      <option value="Accessories">Accessories</option>
    </select>
    <input type="text" name="search" id="search" placeholder="Search Electrode...">
    <button class="search-btn">Search</button>
  </div>

  <div class="button-container">
    <button class="cart-btn">
      <i class="far fa-heart"></i>
      View Wishlist
    </button>

    <button class="cart-btn">
      <i class="fas fa-shopping-cart"></i>
      View Cart
    </button>
  </div>
</div>