<section class="collections">
  <div class="collection">
    <div class="collection-img">
      <img src="https://preview.colorlib.com/theme/electro/img/xshop01.png.pagespeed.ic.YgJRjyP3IB.webp" alt="Laptop Collection">
    </div>
    <div class="collection-body">
      <h1>Laptop Collection</h1>
      <a href="#">Shop Now <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  
  <div class="collection">
    <div class="collection-img">
      <img src="https://preview.colorlib.com/theme/electro/img/xshop03.png.pagespeed.ic.7lsQL1UJA9.webp" alt="Laptop Collection">
    </div>
    <div class="collection-body">
      <h1>Accessory Collection</h1>
      <a href="#">Shop Now <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  
  <div class="collection">
    <div class="collection-img">
      <img src="https://preview.colorlib.com/theme/electro/img/xshop02.png.pagespeed.ic.JMo4guOhuU.webp" alt="Laptop Collection">
    </div>
    <div class="collection-body">
      <h1>Camera Collection</h1>
      <a href="#">Shop Now <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  
  <div class="collection">
    <div class="collection-img">
      <img src="https://pngimg.com/uploads/smartphone/smartphone_PNG8536.png" alt="Laptop Collection">
    </div>
    <div class="collection-body">
      <h1>Smartphone Collection</h1>
      <a href="#">Shop Now <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- https://preview.colorlib.com/theme/electro/img/xproduct07.png.pagespeed.ic.96craXAXfp.webp -->
</section>