<footer>
  <div class="sections">
    <div class="info-container">
      <div class="content">
        <h2>about us</h2>
        <ul>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa ea reiciendis eius officiis vero. Voluptatem repellat libero officia aut consequuntur.</li>
          <li><i class="fas fa-map-marker-alt"></i><a href="#">1234 Tonto Road</a></li>
          <li><i class="fas fa-phone-alt"></i><a href="#">+1 123-465-7890</a></li>
          <li><i class="fas fa-envelope"></i><a href="#">Email@email.com</a></li>
        </ul>
      </div>
    </div>

    <div class="info-container">
      <div class="content">
        <h2>Categories</h2>
        <ul>
          <li><a href="#">Hot Deals</a></li>
          <li><a href="#">Laptops</a></li>
          <li><a href="#">Smartphones</a></li>
          <li><a href="#">Cameras</a></li>
          <li><a href="#">Accessories</a></li>
        </ul>
      </div>
    </div>

    <div class="info-container">
      <div class="content">
        <h2>Information</h2>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Orders & Returns</a></li>
          <li><a href="#">Terms & Conditions</a></li>
        </ul>
      </div>
    </div>

    <div class="info-container">
      <div class="content">
        <h2>Service</h2>
        <ul>
          <li><a href="#">My Account</a></li>
          <li><a href="#">View Cart</a></li>
          <li><a href="#">Wishlist</a></li>
          <li><a href="/sign-up">Register</a></li>
          <li><a href="/login">Employee Login</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="payment-container">
    <i class="fa fa-cc-visa"></i>
    <i class="fa fa-credit-card"></i>
    <i class="fa fa-cc-paypal"></i>
    <i class="fa fa-cc-mastercard"></i>
    <i class="fa fa-cc-discover"></i>
    <i class="fa fa-cc-amex"></i>
    <span class="copyright">Copyright &copy; All rights reserved | Template Made By <a href="">JD Blackman</a></span>
  </div>
</footer>