

<nav class="navBar">
  <div class="openButton">
    <i class="material-icons icon">menu</i>
  </div>
  <div class="navContainer closed">
      <div class="closeButton">
          <i class="material-icons icon">close</i>
      </div>
      <div class="image-container">
        <img class="logo" src="../assets/exampleLogo.png" alt="Company Name">
      </div>
      <div class="links">
          <ul>
              <li><a href="#App">Home</a></li>
              <li><a href="#App">Hot Deals</a></li>
              <li><a href="#App">Categories</a></li>
              <li><a href="/login">Login</a></li>
          </ul>
      </div>
      <div class="footer">
          <ul>
              <li><a href="#App"><i class='fab fa-facebook-square'></i></a></li>
              <li><a href="#App"><i class='fab fa-instagram'></i></a></li>
              <li><a href="#App"><i class='fab fa-github-square'></i></a></li>
          </ul>
      </div>
  </div>
</nav>
<script src="../scripts/navbar.js"></script>