<h1 class="products-title">New Products</h1>

<div class="new-products-carousel">

  <button id="new-left"><i class="fas fa-chevron-left"></i></button>

  <div class="new-products-container">

  
    <div class="product">
      <div class="product-image">
        <img src="https://preview.colorlib.com/theme/electro/img/xshop03.png.pagespeed.ic.7lsQL1UJA9.webp" alt="Headphones">
      </div>
      <div class="product-content">
        <p class="product-name">Cool Headphones</p>
        <p class="product-price">$9999999</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>
        </div>
        
        <a href="#" id="product-purchase">Buy Now</a>
      </div>
    </div>
    <div class="product">
      <div class="product-image">
        <img src="https://preview.colorlib.com/theme/electro/img/xshop01.png.pagespeed.ic.YgJRjyP3IB.webp" alt="Headphones">
      </div>
      <div class="product-content">
        <p class="product-name">Cool Laptop</p>
        <p class="product-price">$9999999</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>
        </div>
        
        <a href="#" id="product-purchase">Buy Now</a>
      </div>
    </div>
    <div class="product">
      <div class="product-image">
        <img src="https://preview.colorlib.com/theme/electro/img/xshop02.png.pagespeed.ic.JMo4guOhuU.webp" alt="Headphones">
      </div>
      <div class="product-content">
        <p class="product-name">Cool Camera</p>
        <p class="product-price">$9999999</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>
        </div>
        
        <a href="#" id="product-purchase">Buy Now</a>
      </div>
    </div>
    <div class="product">
      <div class="product-image">
        <img src="https://preview.colorlib.com/theme/electro/img/xshop03.png.pagespeed.ic.7lsQL1UJA9.webp" alt="Headphones">
      </div>
      <div class="product-content">
        <p class="product-name">Cool Headphones</p>
        <p class="product-price">$9999999</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>
        </div>
        
        <a href="#" id="product-purchase">Buy Now</a>
      </div>
    </div>
    <div class="product">
      <div class="product-image">
        <img src="https://preview.colorlib.com/theme/electro/img/xshop01.png.pagespeed.ic.YgJRjyP3IB.webp" alt="Headphones">
      </div>
      <div class="product-content">
        <p class="product-name">Cool Laptop</p>
        <p class="product-price">$9999999</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>
        </div>
        
        <a href="#" id="product-purchase">Buy Now</a>
      </div>
    </div>
    <div class="product">
      <div class="product-image">
        <img src="https://preview.colorlib.com/theme/electro/img/xshop02.png.pagespeed.ic.JMo4guOhuU.webp" alt="Headphones">
      </div>
      <div class="product-content">
        <p class="product-name">Cool Camera</p>
        <p class="product-price">$9999999</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>
        </div>
        
        <a href="#" id="product-purchase">Buy Now</a>
      </div>
    </div>
  </div>
  <button id="new-right"><i class="fas fa-chevron-right"></i></button>
  

</div>

<script src="../scripts/newProducts.js"></script>