<div class="newsletter-container">
  <div class="newsletter-content">
    <div class="newsletter-title">
      <p>Sign Up for the <strong>NEWSLETTER</strong></p>
    </div>
  
    <form action="#" class="signup">
      <input type="email" name="email" id="email" placeholder="Enter Your Email">
      <button class="signup-btn"><i class="fa fa-envelope"></i> Subscribe</button>
    </form>
  
    <div class="socials">
      <ul>
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
      </ul>
    </div>
  
    <i class='far fa-envelope background-icon'></i>
  </div>
</div>