<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>

  <script type="module" src="../scripts/main.js"></script>
</head>
<body class="container">
  <h1>Admin Panel!</h1>
</body>
</html>
