<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>

  <script type="module" src="../scripts/main.js"></script>
</head>
<body class="container">

<%- include('../partials/navbar'); %>


</body>
</html>
